.background {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.15;
  background-position: 50% 25%;
  background-size: cover;
  pointer-events: none;
  animation: background_fade_in var(--slow);
}

/* animations */
@keyframes background_fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.15;
  }
}
