.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.feature_image {
  width: 330px;
  height: 220px;
}
.feature_text {
  flex-grow: 1;
}
.feature:nth-child(odd) .feature_image {
  order: 1;
  margin-left: 30px;
}
.feature:nth-child(even) .feature_image {
  order: -1;
  margin-right: 30px;
}
.feature_heading {
  font-family: var(--sans);
  font-weight: var(--semi-bold);
  text-align: center;
}
.feature_text p {
  text-align: center;
}

/* mobile styles */
@media screen and (max-width: 800px) {
  .feature {
    flex-direction: column;
  }
  .feature_image {
    order: unset !important;
    margin: 0 !important;
  }
  .feature_text {
    padding: 0;
  }
  .feature_heading {
    margin-top: 20px;
  }
}
