footer {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: var(--white);
  background: var(--dark-gray);
  text-align: center;
}
.footer_links > a {
  margin: 0 5px;
  transition: opacity var(--fast);
}
.footer_links:hover > a {
  opacity: 0.25;
}
.footer_links > a:hover {
  opacity: 1 !important;
}
.footer_links > a > i {
  color: var(--white);
}
