---
---

@import "colors";
@import "theme";
@import "mixins";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  color: $white;
  background: $gray-800;
  box-shadow: $shadow;

  & * {
    font-family: $sans;
  }

  .logo_row {
    @include inline-flex-center;

    .logo {
      max-width: 100%;
      height: 100px;
      z-index: -1;
    }
    
    .logo_text {
      margin: 10px;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .nav_row {
    @include inline-flex-center;
    font-size: 0.9rem;
    font-weight: $medium;
    text-transform: uppercase;
    letter-spacing: 1px;

    .nav_link {
      display: inline-block;
      padding: 10px;
      text-align: center;
      white-space: nowrap;
      transition: opacity $fast;
    }

    &:hover .nav_link {
      opacity: 0.25;
    }

    & .nav_link:hover {
      opacity: 1;
    }
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  // screen width where nav bar wraps to under logo
  // adjust based on length of your lab title and # of nav links
  @media (max-width: 900px) {
    align-content: center;

    .logo_row,
    .nav_row {
      width: 100%;
    }
  }

  // screen width where logo and nav bar go from horizontal to vertical
  // adjust based on length of your lab title and # of nav links
  @media (max-width: 600px) {
    .logo_row {
      flex-direction: column;
    }

    .nav_row {
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .nav_link {
        width: 100%;
      }
    }
  }

  // home page fullscreen styles, special to greenelab.com
  &[data-fullscreen] {
    transition: min-height $slow;
  }

  &[data-fullscreen="true"] {
    justify-content: center;
    min-height: 100vh;

    .logo {
      height: 200px;
      animation: logo_zoom 2s ease forwards;

      @keyframes logo_zoom {
        0% {
          transform: scale(2) translateX(14.666%);
        }
        50% {
          transform: scale(1) translateX(14.666%);
        }
        100% {
          transform: scale(1) translateX(0);
        }
      }
    }

    .nav_row {
      display: none;
    }
  }

  &[data-fullscreen="false"] {
    min-height: 0;
  }
}
