h1,
h2,
h3,
h4 {
  box-sizing: border-box;
  font-family: var(--sans);
  font-size: 1rem;
  font-weight: var(--semi-bold);
  line-height: 1.2;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
h1 {
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 20px;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
h2:before,
h2:after {
  content: "";
  flex-grow: 1;
  background: var(--light-gray);
  height: 1px;
}
h2:before {
  margin-right: 40px;
}
h2:after {
  margin-left: 40px;
}
h3 {
}
h4 {
  font-weight: var(--regular);
  text-align: left;
}
h1 i,
h2 i,
h3 i,
h4 i {
  color: var(--gray);
}
