[data-tooltip] {
  position: relative;
}
[data-tooltip]:after {
  box-sizing: border-box;
  content: attr(data-tooltip);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, -10px);
  padding: 8px 12px;
  border-radius: 2px;
  background: var(--black);
  color: var(--white);
  font-family: var(--sans);
  font-size: 0.8rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  transition: opacity var(--fast);
}
[data-tooltip]:hover:after {
  opacity: 1;
}
