# site properties and page defaults
title: The Greene Lab
description: Where data and biology meet
logo-text: false
header: images/backgrounds/laptop-paper.jpg
footer: images/backgrounds/laptop-paper.jpg

proofer: false

# site social media and other links
links:
  orcid: 0000-0001-8713-9213
  email: casey@greenelab.com
  google-scholar: ETJoidYAAAAJ
  github: greenelab
  twitter: GreeneScientist
  instagram: greenelab

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-feed
  - jekyll-last-modified-at
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-spaceship

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
