/* site-wide css */

/* basic */
* {
  /* color variables */
  --white: #ffffff;
  --off-white: #f0f0f0;
  --light-gray: #e0e0e0;
  --gray: #808080;
  --dark-gray: #202020;
  --black: #000000;
  --green: #009688;
  --light-green: #00968820;
  --blue: #00bcd4;
  --red: #e91e63;
  --shadow: 0 2px 5px #00000040;

  /* font variables */
  --serif: "EB Garamond", serif;
  --sans: "Montserrat", sans-serif;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;

  /* transition variables */
  --fast: 0.25s ease;
  --slow: 1s ease;
  --gradual: 2s ease;

  font-family: var(--serif);
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  min-height: 100vh;
  line-height: 1.6;
}
body {
  display: flex;
  flex-direction: column;
}

/* sections */
main,
header,
footer {
  box-sizing: border-box;
  position: relative;
  padding: 40px;
}
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: var(--dark-gray);
  text-align: center;
}
header {
  padding: 20px;
  min-height: 150px;
}
main {
  padding: 40px;
  flex-grow: 1;
  margin: auto;
  width: 100%;
  max-width: 800px;
}
footer {
  padding: 40px;
}

/* headings */
h1 {
  font-family: var(--sans);
  font-size: 1.4rem;
  font-weight: var(--semi-bold);
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h2 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--sans);
  font-size: 1.1rem;
  text-align: center;
  font-weight: var(--semi-bold);
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;
}
h2:before,
h2:after {
  content: "";
  flex-grow: 1;
  background: var(--light-gray);
  height: 1px;
}
h2:before {
  margin-right: 40px;
}
h2:after {
  margin-left: 40px;
}
h3 {
  font-family: var(--sans);
  font-size: 1rem;
  font-weight: var(--semi-bold);
  margin: 20px 0;
}
h4 {
  font-size: 1rem;
  font-weight: var(--semi-bold);
  margin: 20px 0;
  text-align: center;
}

/* blocks */
p,
ul,
li,
figure {
  margin: 20px 0;
}
ul {
  padding-left: 20px;
}
hr {
  background: var(--light-gray);
  height: 1px;
  margin: 40px 0;
  border: none;
}

/* built-in components */
b {
  font-weight: var(--semi-bold);
}
strong {
  font-weight: var(--bold);
}
button {
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}
a {
  color: var(--green);
  transition: color var(--fast);
}
a:hover {
  color: var(--red);
}
img {
  max-width: 100%;
  max-height: 100%;
}
figure img {
  display: block;
  margin: 0 auto;
  max-height: 300px;
}
figure[data-full="true"] img {
  max-height: unset;
}
figcaption {
  margin-top: 10px;
  font-style: italic;
  text-align: center;
}

/* general classes */
.center {
  text-align: center;
}
.icon {
  margin-right: 0.5rem;
}
.background {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.15;
  background-position: 50% 25%;
  background-size: cover;
  pointer-events: none;
  animation: background_fade_in var(--slow);
}
header > *:not(.background) {
  z-index: 1;
}
.details {
  color: var(--gray);
  text-align: center;
  font-style: italic;
}
.details > * {
  margin: 0 10px;
  white-space: nowrap;
}
.social_link {
  display: inline-block;
  margin: 1em 0.25em 0 0.25rem;
  color: var(--gray);
  transition: color var(--fast);
}
.social_link:hover {
  color: var(--black);
}
.big_link {
  display: inline-block;
  margin: 10px 20px;
  font-family: var(--sans);
  font-size: 0.9rem;
  font-weight: var(--semi-bold);
  text-decoration: none;
}

/* tooltip */
[data-tooltip] {
  position: relative;
}
[data-tooltip]:after {
  box-sizing: border-box;
  content: attr(data-tooltip);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, -10px);
  padding: 8px 12px;
  border-radius: 2px;
  background: var(--black);
  color: var(--white);
  font-family: var(--sans);
  font-size: 0.8rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  transition: opacity var(--fast);
}
[data-tooltip]:hover:after {
  opacity: 1;
}

/* header */
.header_spacer {
  flex-grow: 1;
}
.logo {
  max-width: 100%;
  height: 100px;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav > a {
  padding: 10px;
  color: var(--white);
  font-family: var(--sans);
  font-size: 0.9rem;
  font-weight: var(--semi-bold);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  transition: opacity var(--fast);
}
nav:hover > a {
  color: var(--white);
  opacity: 0.25;
}
nav > a:hover {
  opacity: 1 !important;
}

/* footer */
.footer_links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_links > a {
  padding: 10px;
  transition: opacity var(--fast);
}
.footer_links:hover > a {
  opacity: 0.25;
}
.footer_links > a:hover {
  opacity: 1 !important;
}
.footer_links > a > i {
  color: var(--white);
}

/* mobile styles */
@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
  }
  nav {
    justify-content: center;
    margin-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
}

/* animations */
@keyframes background_fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.15;
  }
}
