.team_gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.member_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 150px;
  margin: 20px;
  text-decoration: none;
}
.member_card[data-mini="true"] {
  width: 100px;
  margin: 10px;
  font-size: 0.9rem;
}
.member_thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 999px;
  overflow: hidden;
}
.member_card[data-mini="true"] > .member_thumbnail {
  width: 100px;
  height: 100px;
}
.member_thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--fast);
}
.member_card:hover > .member_thumbnail > img {
  transform: scale(1.1);
}
.member_title {
  margin-top: 10px;
  text-align: center;
}
.member_card > i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 999px;
  background: var(--white);
  width: 35px;
  height: 35px;
  color: var(--gray);
}
.member_card[data-mini="true"] > i {
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
}
