.paper_info {
  flex-grow: 1;
  width: 0;
}
.paper_title,
.paper_authors,
.paper_details {
  display: block;
  margin-bottom: 5px;
}

@media screen and (max-width: 500px) {
  .paper_info {
    width: 100%;
  }
  .paper_details {
    margin-bottom: 10px;
  }
}
