.paper_link_button {
  opacity: 0.25;
  transition: opacity var(--fast), color var(--fast);
}
.paper_link_button:hover {
  opacity: 1;
}
.paper_link_button[data-active="true"] {
  opacity: 1;
  color: var(--green);
}
