.member_card > i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 999px;
  background: var(--white);
  width: 35px;
  height: 35px;
  color: var(--gray);
}
.member_card[data-mini="true"] > i {
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
}
