.member_thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 999px;
  overflow: hidden;
}
.member_card[data-mini="true"] > .member_thumbnail {
  width: 100px;
  height: 100px;
}
.member_thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--fast);
}
.member_card:hover > .member_thumbnail > img {
  transform: scale(1.1);
}
