<footer>
  {% include background.html %}
  <div class="footer_links">
    <a href="{{ site.baseurl }}/contact" data-tooltip="Contact"><i class="far fa-envelope fa-fw fa-lg"></i></a>
    <a href="https://github.com/{{ site.github }}" data-tooltip="GitHub"><i class="fab fa-github fa-fw fa-lg"></i></a>
    <a href="https://twitter.com/{{ site.twitter }}" data-tooltip="Twitter"><i class="fab fa-twitter fa-fw fa-lg"></i></a>
    <a href="https://instagram.com/{{ site.instagram }}" data-tooltip="Instagram"><i class="fab fa-instagram fa-fw fa-lg"></i></a>
  </div>
</footer>
