<footer>
  <div class="social_link">
    <a class="social_link" href="contact" title="Contact"
      ><i class="far fa-envelope fa-lg"></i
    ></a>
    <a class="social_link" href="{{ site.github }}" title="GitHub"
      ><i class="fab fa-github fa-lg"></i
    ></a>
    <a class="social_link" href="{{ site.twitter }}" title="Twitter"
      ><i class="fab fa-twitter fa-lg"></i
    ></a>
    <a class="social_link" href="{{ site.instagram }}" title="Instagram"
      ><i class="fab fa-instagram fa-lg"></i
    ></a>
  </div>
</footer>
