<footer>
  <div
    class="background"
    style="background-image: url('{{ page.backgroundImage | default: 'images/background-laptop-paper.jpg' }}')"
  ></div>
  <div class="social_links">
    <a href="contact" title="Contact"><i class="far fa-envelope fa-lg"></i></a>
    <a href="https://github.com/{{ site.github }}" title="GitHub"
      ><i class="fab fa-github fa-lg"></i
    ></a>
    <a href="https://twitter.com/{{ site.twitter }}" title="Twitter"
      ><i class="fab fa-twitter fa-lg"></i
    ></a>
    <a href="https://instagram.com/{{ site.instagram }}" title="Instagram"
      ><i class="fab fa-instagram fa-lg"></i
    ></a>
  </div>
</footer>
