<!-- invisible head component for specifying metadata and including CSS -->
<head>
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% include meta.html %}
  {% include icons.html %}
  {% include fonts.html %}
  <!-- site-wide and includes css -->
  {% for file in site.static_files %}
  {% if file.path contains "css/" and file.path contains ".css" %}
  <link href="{{ site.baseurl }}{{ file.path }}" rel="stylesheet" />
  {% endif %}
  {% endfor %}
  <!-- look for page-specific css in current folder -->
  {% for file in site.static_files %}
  {% if file.path contains page.dir and file.path contains ".css" %}
  <link href="{{ site.baseurl }}{{ file.path }}" rel="stylesheet" />
  {% endif %}
  {% endfor %}
</head>
