<!-- icons metadata in head -->

<!-- https://realfavicongenerator.net/ -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ site.baseurl }}/icons/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="512x512"
  href="{{ site.baseurl }}/icons/favicon-512x512.png"
/>
<link rel="manifest" href="{{ site.baseurl }}/icons/site.webmanifest" />
<link
  rel="mask-icon"
  href="{{ site.baseurl }}/icons/safari-pinned-tab.svg"
  color="{{ site.themeColor }}"
/>
<meta name="msapplication-TileColor" content="{{ site.themeColor }}" />
<meta
  name="msapplication-config"
  content="{{ site.baseurl }}/icons/browserconfig.xml"
/>
<meta name="theme-color" content="{{ site.themeColor }}" />

<!-- metatags - https://metatags.io/ -->
<meta
  property="og:image"
  content="{{ site.baseurl }}/icons/share-thumbnail.png"
/>
<meta
  property="twitter:image"
  content="{{ site.baseurl }}/icons/share-thumbnail.png"
/>
