<nav>
  <a href="team" title="About our team members and collaborators">Team</a>
  <a href="research" title="What we do and how we do it">Research</a>
  <a href="tools" title="Software, servers, and datasets">Tools</a>
  <a href="publications" title="Preprints and published works">Publications</a>
  <a href="join" title="Join the team">Join</a>
  <a href="blog" title="Musings about biology">Blog</a>
  <a href="contact" title="Email, address, location, and social media"
    >Contact</a
  >
</nav>
