<nav>
  <a
    class="nav_link"
    href="team"
    title="About our team members and collaborators"
    >Team</a
  >
  <a class="nav_link" href="research" title="What we do and how we do it"
    >Research</a
  >
  <a class="nav_link" href="tools" title="Software, servers, and datasets"
    >Tools</a
  >
  <a class="nav_link" href="publications" title="Preprints and published works"
    >Publications</a
  >
  <a class="nav_link" href="join" title="Join the team">Join</a>
  <a class="nav_link" href="blog" title="Musings about biology">Blog</a>
  <a
    class="nav_link"
    href="contact"
    title="Email, address, location, and social media"
    >Contact</a
  >
</nav>
