<!-- paper card on research page -->

<!-- get paper object from params -->
{% assign paper = include.paper %}

<!-- get data from paper ready to display -->
{% assign id = paper.id %}
{% assign url = paper.url %}
{% assign title = paper.title | normalize_whitespace | strip %}
{% assign authors = paper.authors | join: ", &nbsp;" | strip %}
{% if paper.thumbnail contains "://" %}
{% assign thumbnail = paper.thumbnail %}
{% else %}
{% assign thumbnail = paper.thumbnail | prepend: "/images/" | prepend: site.baseurl %}
{% endif %}
{% assign links = paper.links %}
{% assign tags = paper.tags %}
{%- capture details -%}
  {{- paper.publisher -}}
  &nbsp; · &nbsp;
  {{- paper.date | date: "%d %b %Y" -}}
{%- endcapture -%}
{% assign details = details | strip %}

<!-- default thumbnail -->
{%- capture defaultthumbnail -%}
{{- site.baseurl -}}/images/paper-thumbnail.svg
{%- endcapture -%}

<div class="paper_card">
  <!-- {{ id }} -->
  <div class="paper_thumbnail thumbnail">
    <a href="{{ url }}">
      {% if thumbnail %}
      <img src="{{ thumbnail }}" onerror="this.src = '{{ defaultthumbnail }}'; this.onerror = null;">
      {% else %}
      <img src="{{ defaultthumbnail }}">
      {% endif %}
    </a>
  </div>
  <div class="paper_info">
    {% if title != "" %}
    <a class="paper_title" href="{{ url }}" title="{{ title }}">
      {{ title }}
    </a>
    {% endif %}
    {% if authors != "" %}
    <div class="paper_authors truncate" title="{{ authors }}" tabindex="0">
      {{ authors }}
    </div>
    {% endif %}
    <div class="paper_details truncate" title="{{ details }}" tabindex="0">
      {{ details }}
    </div>
    {% if tags %}
    {% include paper-tags.html tags=tags %}
    {% endif %}
    {% if links %}
    <div class="paper_links">
      {% for link in links %}
        {% assign linkurl = link.url | default: url %}
        {% include paper-link.html type=link.type url=linkurl text=link.text %} 
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
