<!-- research paper citation link -->
<a href="{{ include.url }}" class="paper_link" data-tooltip="{{ include.text }}" aria-label="{{ include.text }}">
  <!-- lower case of text -->
  {% assign key = include.text | downcase %}
  
  <!-- default icon -->
  {% assign icon = "fas fa-globe" %}

  <!-- unique icons -->
  {% if key contains "journal" %}{% assign icon = "far fa-newspaper" %}{% endif %}
  {% if key contains "preprint" %}{% assign icon = "far fa-eye" %}{% endif %}
  {% if key contains "github" %}{% assign icon = "fab fa-github" %}{% endif %}
  {% if key contains "bitbucket" %}{% assign icon = "fab fa-bitbucket" %}{% endif %}
  {% if key contains "source" %}{% assign icon = "fas fa-code" %}{% endif %}
  {% if key contains "server" %}{% assign icon = "fas fa-server" %}{% endif %}
  {% if key contains "app" %}{% assign icon = "fas fa-hand-pointer" %}{% endif %}
  {% if key contains "data" %}{% assign icon = "fas fa-database" %}{% endif %}

  <!-- icon -->
  {% if key contains "manubot" %}
  {% include manubot-logo.html %}
  {% else %}
  <i class="{{ icon }} fa-sm fa-fw"></i>
  {% endif %}
</a>
