<!-- resource card on resource page -->

<!-- get resource object from params -->
{% assign resource = include.resource %}

<!-- thumbnail url -->
{% if resource.thumbnail contains "://" %}
{% assign thumbnail = resource.thumbnail %}
{% else %}
{% assign thumbnail = resource.thumbnail | prepend: "/images/tools/" | prepend: site.baseurl %}
{% endif %}

<!-- default thumbnail -->
{%- capture defaultthumbnail -%}
{{- site.baseurl -}}/images/resource-thumbnail.svg
{%- endcapture -%}

<div class="resource_card" data-size="{{ include.size }}">
  <div class="resource_thumbnail thumbnail">
    <a href="{{ resource.url }}">
      {% if thumbnail %}
      <img src="{{ thumbnail }}" onerror="this.src = '{{ defaultthumbnail }}'; this.onerror = null;">
      {% else %}
      <img src="{{ defaultthumbnail }}">
      {% endif %}
    </a>
  </div>
  <div class="resource_info">
    <a href="{{ resource.url }}" class="resource_title">{{ resource.title }}</a>
    {{ resource.description | markdownify }}
    {% include resource-tags.html tags=resource.tags repo=resource.repo %}
  </div>
</div>
