<!-- show an appropriate icon based on a member's role -->
{% if include.role contains "pi" %}
<i class="fas fa-microscope fa-fw icon" data-tooltip="Principal Investigator" aria-label="Principal Investigator"></i>
{% endif %}
{% if include.role contains "postdoc" %}
<i class="fas fa-glasses fa-fw icon" data-tooltip="Postdoctoral Researcher" aria-label="Postdoctoral Researcher"></i>
{% endif %}
{% if include.role contains "phd" %}
<i class="fas fa-graduation-cap fa-fw icon" data-tooltip="PhD Student" aria-label="PhD Student"></i>
{% endif %}
{% if include.role contains "undergrad" %}
<i class="fas fa-user-graduate fa-fw icon" data-tooltip="Undergraduate Student" aria-label="Undergraduate Student"></i>
{% endif %}
{% if include.role contains "programmer" %}
<i class="fas fa-code fa-fw icon" data-tooltip="Programmer" aria-label="Programmer"></i>
{% endif %}
{% if include.role contains "mascot" %}
<i class="fas fa-dog fa-fw icon" data-tooltip="Mascot" aria-label="Mascot"></i>
{% endif %}
