{% if include.role contains "pi" %}
<i class="fas fa-microscope fa-fw icon" title="Principal Investigator"></i>
{% endif %}
{% if include.role contains "postdoc" %}
<i class="fas fa-glasses fa-fw icon" title="Postdoctoral Researcher"></i>
{% endif %}
{% if include.role contains "phd" %}
<i class="fas fa-graduation-cap fa-fw icon" title="PhD Student"></i>
{% endif %}
{% if include.role contains "undergrad" %}
<i class="fas fa-user-graduate fa-fw icon" title="Undergraduate Student"></i>
{% endif %}
{% if include.role contains "programmer" %}
<i class="fas fa-code fa-fw icon" title="Programmer"></i>
{% endif %}
{% if include.role contains "mascot" %}
<i class="fas fa-dog fa-fw icon" title="Mascot"></i>
{% endif %}
