.resource_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 20px;
}
.resource_card > * {
  width: 100%;
}
.resource_card[data-size="big"] {
  width: 300px;
}
.resource_card[data-size="medium"] {
  width: 200px;
}
.resource_card[data-size="small"] {
  align-items: flex-start;
  width: 100%;
  margin: 20px 0;
}
.resource_card p {
  margin: 10px 0;
}
