.resource_card[data-size="small"] .resource_info {
  flex-grow: 1;
  width: 0;
}
.resource_info > * {
  display: block;
}

@media screen and (max-width: 500px) {
  .resource_card[data-size="small"] .resource_info {
    width: 100%;
  }
}
