.resource_title {
  font-weight: var(--bold);
}
.resource_card[data-size="big"] .resource_title,
.resource_card[data-size="medium"] .resource_title {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .resource_card[data-size="small"] .resource_title {
    text-align: center;
  }
}
