<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <h1>
        {% if page.icon %}<i class="{{ page.icon }} fa-sm icon_with_text"></i>{% endif %}
        {{ page.title }}
      </h1>
      {{ content }}
    </main>
    {% include footer.html %}
    <!-- site-wide and includes js -->
    {% for file in site.static_files %}
    {% if file.path contains "js/" and file.path contains ".js" %}
    <script src="{{ site.baseurl }}{{ file.path }}"></script>
    {% endif %}
    {% endfor %}
    <!-- look for page-specific javascript in current folder -->
    {% for file in site.static_files %}
    {% assign dir = file.path | remove: file.name %}
    {% if dir == page.dir and file.extname == ".js" %}
    <script src="{{ site.baseurl }}{{ file.path }}"></script>
    {% endif %}
    {% endfor %}
  </body>
</html>
