---
layout: default
---

<figure>
  <img src="{{ site.baseurl }}/images/team/{{ page.image }}" alt="{{ page.data-tooltip }}" />
</figure>

<p class="center page_details">
  <span class="inline_flex_center">
  {% include role.html role=page.role text=true %}
  </span>
  <br>
  <span class="inline_flex_center">
    {% include social-link.html type="website" value=page.website %}
    {% include social-link.html type="email" value=page.email %}
    {% include social-link.html type="google" value=page.google %}
    {% include social-link.html type="github" value=page.github %}
    {% include social-link.html type="twitter" value=page.twitter %}
    {% include social-link.html type="instagram" value=page.instagram %}
  </span>
</p>

{{ content }}

{% assign names = "" | split: ',' %}

{% if page.search.first %}
{% assign names = names | concat: page.search %}
{% elsif page.search %}
{% assign names = names | push: page.search %}
{% elsif page.title %}
{% assign names = names | push: page.title %}
{% endif %}

{% capture search %}
{% for name in names %}"{{ name }}" {% endfor %}
{% endcapture %}

<p class="center">
  <a
    href='{{ site.baseurl }}/research/?search={{ search | strip }}'
    class="big_link"
  >
    <i class="fas fa-book-open icon_with_text"></i>{{ page.title }}'s papers with the Greene Lab
  </a>
</p>
