---
layout: default
---

<figure>
  <img src="{{ site.baseurl }}/images/team/{{ page.image }}" alt="{{ page.data-tooltip }}" />
</figure>

<p class="center page_details">
  <span class="easy_align">
  {% include role.html role=page.role text=true %}
  </span>
  <br>
  <span class="easy_align">
    {% include social-link.html type="website" value=page.website %}
    {% include social-link.html type="email" value=page.email %}
    {% include social-link.html type="google" value=page.google %}
    {% include social-link.html type="github" value=page.github %}
    {% include social-link.html type="twitter" value=page.twitter %}
    {% include social-link.html type="instagram" value=page.instagram %}
  </span>
</p>

{{ content }}
